<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>This Website Does Not Exist</title>
    <style>
      body { margin: 30px auto; max-width: 800px; padding: 0 10px; font-family:sans-serif; }
      form { max-width: 500px; margin: 0 auto; }
      textarea { width: 100%; min-height:100px; }
    </style>
  <body>
    <form method="POST">
      <fieldset>
        <legend>What web page are you building?</legend>
        <textarea name="content"></textarea>
        <button type="submit">I'm feeling lucky</button>
      </fieldset>
    </form>
  </body>
</html>

